     
     .toolbar-class{
       width: 700px;
       height: 120px;
     }
     .inline{
       width: 280px;
       float: left;
     }
     .list{
       width: 160px;
       float: left;
     }
     .rdw-fontsize-wrapper{
       text-align: center;
       width: 60px;
       height: 40px;
       float: left;
     }
     
     .fontSize a{
       display: block;
       padding: 5px;
       cursor: pointer;
       color: #000;
       width: 50px;
      
     }
     .fontSize a .rdw-dropdown-carettoopen::before{
      display: inline-block;
      content: "\27A4";
      transform: rotate(90deg);
      font-size: 12px;
      margin-left: 2px;
      background-repeat: no-repeat;
      background-size: 1rem 1rem;
     }
    .fontSize a .rdw-dropdown-carettoclose::before{
      display: inline-block;
      content: "\27A4";
      transform: rotate(-90deg);
      font-size: 12px;
      margin-left: 2px;
    }
    .fontSize a:hover{
      text-decoration: none;
    }
    .rdw-fontfamily-wrapper{
      float: left;
      width: 180px;
      height: 40px;
    }
    .rdw-fontfamily-wrapper a{
      display: block;
      padding: 5px;
      cursor: pointer;
      color: #000;
    }
    .rdw-fontfamily-wrapper a:hover{
      text-decoration: none;
    }
    .rdw-dropdown-carettoopen, .rdw-dropdown-carettoclose{
      display: inline-block;
     }
    .textAlign{
      float: left;
      width: 160px;
      height: 40px;
    }
    .blockType{
      width: 320px;
      height: 40px;
      float: left;
    }
   .blockType .rdw-option-wrapper{
     width: 40px;
     height: 40px;
     padding: 5px;

   }
   .blockType .rdw-option-wrapper:nth-child(1){
     width: 80px;

   }
   .link{
     float: left;
     width: 190px;
     height: 40px;
   }
   .rdw-embedded-wrapper{
     float: left;
     height: 40px;
     width: 40px;
   }
   .rdw-image-wrapper{
      float: left;
     height: 40px;
     width: 40px;
   }
   .history{
     float: left;
     width: 80px;
   }
    .rdw-option-wrapper{
       cursor: pointer;
       padding: 2%;
       width: 40px;
       height: 40px;
       text-align: center;
       display: inline-block;
     }
     .move,.full{
       cursor: pointer;
       width: 40px;
       height: 40px;
       text-align: center;
     }