     
     .toolbar-class{
       width: 700px;
       height: 300px;
     }
     .inline{
       width: 300px;
       float: left;
     }
     .list{
       width: 160px;
       float: left;
     }
     .fontSize{
        width: 240px;
        height: 40px;
       float: left;
     }
     .fontSize a{
       display: block;
       padding: 5px;
       cursor: pointer;
       color: #000;
       width: 100px;
      
     }
     .fontSize a .rdw-dropdown-carettoopen::before{
     display: inline-block;
     content: "\27A4";
     transform: rotate(90deg);
     font-size: 12px;
  
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
     }
    .fontSize a .rdw-dropdown-carettoclose::before{
      content: 'c';
    }
     .rdw-dropdown-carettoopen, .rdw-dropdown-carettoclose{
       display: inline-block;
     }
     
     .rdw-option-wrapper{
       cursor: pointer;
       padding: 2%;
       width: 40px;
       height: 40px;
       text-align: center;
       display: inline-block;
     }